<div class="container">
    <app-navbar></app-navbar>
    <div style="height: 5rem; border-width: 1px 0;"></div>
</div>
<div class="jumbtron">
    <h1 class="diplay-4 text-center">Inventory</h1>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-5">
            <h6 class="text-center">
                Add Obeject
            </h6>
            <app-obsectsn></app-obsectsn>
        </div>
        <div class="col-sm-6 col-md-7">
            <h6 class="text-center">
                Obeject List
            </h6>
            <app-objectslist></app-objectslist>
        </div>
    </div>
</div>
